@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary{
  background-color: transparent;
  border:1px solid #fff;
  color:#FFF;
  padding:8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary :hover{
  background-color: grey;

}
.spacing{
display: flex;
gap: 10px;
margin-top: 35px;
/* font-size: 3rem; */

} 
.box{
  display: inline-block;
  margin: 1%;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
}
.button-prime{
  background-color: #5542FC;
  border:0;
  color:#FFF;
  padding: 8px 15px;
  border-radius: 5px;
  display:inline-flex;

  font-size:1.2rem;
  
  cursor: pointer;
}
.btn-svg-add{
  height:23px;
  margin-right: 5px;
  align-items: center;
}
.Center{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.ColumsWrapper{
  display: grid;
  grid-template-columns: 1.3fr .7fr;
  gap : 40px;
  margin-top: 40px;
}
.Box1{
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
.btn-primary1{
  background-color: black;
  border:1px solid #fff;
  color: whitesmoke;
  padding:8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.table1{
  width: 100%;
}
.table1 th{
  text-align: left;
  text-transform: uppercase;
  color: #ccc;
  font-weight: 600;
  font-size: .8rem;
}
.table1 td{
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.table1 img{
max-width: 80px;
max-height: 80px;
}
.productimagebox{
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}
.plus{

  padding:2px ;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  background-color: rgba(72, 72, 72, 0.332);
  opacity: 60%;
  border: 0;
  box-shadow: #000000;
  border-radius: 3px;
  margin: 4px;
  justify-content: space-between;
  cursor: pointer;
}
.spacing{
padding: 0 3px ;
}
.styledinput {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.cityholder {
  display: flex;
  gap: 5px;
}
.title{
  font-size: 1.5rem;
}
.StyledProductsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.img-search{
  height: 20px;
}
.form-1{
  width: 500px;
  position: relative;
}
.s-1{
  position: relative;
}
.s-2{
  position: absolute;
  top: 20px;
  padding: 4px;
  background-color: 'slate';
  color: white;
  width: max-content;
  border-radius: 10px;
  background-color: 'slate-800';

}
.sbactice {
  display: none;
  position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #00000065;


    transition: 1s;
}
.sbactice.is-active{
  /* display: flex; */
  left: 0%;
  
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
.home_panelList-wrap,.home_panel-wrap,.home_list-wrap  {
  overflow-y: auto;
}
.home_panelList-wrap {
  display: flex;
  flex: 1;
}
.home_panel-wrap {
  flex-basis: 280px;
}
.home_list-wrap {
  display: grid;
  grid-template-rows: 7% 90% ;
  flex: 1;
}
.home_list-wrap-1 {

  margin-top: 10px;
}
 .colum-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin-left: 50%; */
 }

.home_list-wrap-2{
  display: flex;
flex-wrap: wrap;



}
.searchBar-wrap {
  display: flex;
  align-items: center;
  border-bottom:1px solid black ;
  padding: 1.5rem 1rem;
}
/* .searchBar-icon{
  color: rgba(0,0,0,0.26);
  margin-right: 10px;

 
} */
.searchBar-wrap input {
  font-size: 1.5rem;
  outline: none;
  border: none;
  width: 100%;
}
.searchBar-wrap input::placeholder {
  color: rgba(0,0,0,0.26);

}
.flex-box{
  display: inline-flex;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
  overflow:visible;
 background-color: rgba(0, 0, 0, 0.398);
 margin-top: -17px;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.cart-box{
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}
.StyledHeader {
  background-color: #222;
  height: 100px;

}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.NavLink {
  display: block;
color:#aaa;
text-decoration:none;
padding: 10px 0;
}
